# Repo root ignores
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Env files
.env*

# Next.js (if used at root in future)
.next/
out/
build/

